.bird_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    will-change: transform;
}

.bird{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
    background-size: auto 100%;
    width: 350px;
    height: 500px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-duration: 1s;
    animation-delay: -0.5;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

@keyframes fly-cycle{
    100%{
        background-position:-3600px 0 ;
    }
}